# The course team reviews every change, including changes to these ownership rules.
* @guaguakai @ShreeyashGo
/.github/ @guaguakai @ShreeyashGo
/scripts/ @guaguakai @ShreeyashGo
/_layouts/ @guaguakai @ShreeyashGo
/_config.yml @guaguakai @ShreeyashGo
